body{
    font-family: Arial, Helvetica, sans-serif;
}
.navigation{
    display: flex;
    box-shadow: inset;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width:50px;
}
.nav-items{
    display: flex;
    flex-direction: row;
    list-style: none;
}
.nav-items > li{
    padding: 10px;
}
.footer{
    bottom: 0;
    background-color: grey;
    opacity: 50%;
}