
.navigation{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width:50px;
}
.nav-items{
    display: flex;
    flex-direction: row;
    list-style: none;
}
.nav-items > li{
    padding: 10px;
}