#root {
  max-width: none;
  margin: 0 auto;
  padding: 0;
  text-align: unset;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: #000;
  font-family: 'poppins';
  font-family: sans-serif;
  background-color: #fff;
}

.navigation {
  display: flex;
  flex-direction: row;
  position: fixed;
  width: 100%;
  background-color: #fff;
  box-shadow: 0px 2.98px 7.46px 0px #e1e1e1;
  align-items: center;
  padding: 1%;
  height: 15vh;
  justify-content: space-between;
  z-index: 1;
}

.logoSection {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #FF5A5F;
}

.logo {
  width: 100px;
  color: #FF5A5F;
  margin-right: 10px;
}

.logoName {
  font-size: 22px;
  font-weight: 700;
}

.nav-items {
  color: #FF5A5F;
  max-width: fit-content;
}

.card-section {
  display: flex;
  gap: 30px;
  padding: 10% 5% 0 5%;
  flex-direction: column;
}

.card {
  display: flex;

  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.card-locations {
  display: flex;
  font-size: 12px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.location-image {
  width: 10px;
}

.location {
  padding: 10px;
  margin: 0;
  font-style: normal;
  font-weight: 400;

  line-height: 12px;
  letter-spacing: 0.17em;
}

.location-link {
  font-style: normal;
  font-weight: 400;

  line-height: 12px;
  color: #918E9B;
}

.card-image {}

.card-info {
  display: flex;
  margin-left: 5%;

  text-align: left;
  flex-direction: column;
  align-items: flex-start;
}

.card-title {
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  margin: 0;
}

.card-time {
  font-style: normal;
  margin: 1% 0;
  font-weight: 700;
  font-size: 10.24px;
  line-height: 12px;
}

.card-decription {
  margin: 0;
  text-align: justify;
  font-style: normal;
  font-weight: 400;
  opacity: 70%;
  line-height: 150%;
}

@media (max-width:900px) {
  .navigation{
    padding: 1%;
    font-size: 12px;
    height: 10vh;
  }
  .card-section{
padding-top: 30%;
  }
  .card-image>img{
    width: 150px;
  }
.card{
  flex-wrap: wrap;
  border-bottom: 2px solid #FF5A5F;
  border-radius: 20px;
}
.card-info{
  margin: 0;
  padding-top: 5%;
}
}