* {
    box-sizing: border-box;
}

body {
    margin: 0;
    color: #000;
    font-family: inter;
    background-color: #fff;
}

.navigation {
    display: flex;
    flex-direction: row;
    box-shadow: 0px 2.98px 7.46px 0px #e1e1e1;
    align-items: center;
    padding: 1%;
    height: 10vh;
    justify-content: space-between;

}

.logoSection {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #FF5A5F;
}
.logo {
    width: 100px;
    margin-right: 10px;
}
.logoName {
    font-size: 22px;
    font-weight: 700;
}

.nav-items {
    color: #df7f82;
    max-width: fit-content;
}
.hero{
    padding:2% 5%;
    
   
}
.hero1{
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.hero-text >h1{
    font-weight: 500;
    font-size: 50px;
    margin-bottom: 0;
}
.hero-text > p{
    font-weight:200;
    font-size: 20px;
}
.container {
    height: 100vh;
}

.mainContent {
    margin: 0;
    padding:1% 5%;
}

@media screen and (maxwidth:900px) {
    .hero1{
        width: 10px;
    }
}