body{
    font-family: Arial, Helvetica, sans-serif;
}
.navigation{
    display: flex;
    box-shadow: 0px 7px 13px 0px #d1d1d1;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width:50px; 
}
.nav-items{
    display: flex;
    
    flex-direction: row;
    list-style: none;
}
.nav-items > li{
    padding: 10px;
}
.footer{
    bottom: 0;
    color: #fff;
    background-color: grey;
    opacity: 50%;
}