*{
    box-sizing: border-box;
}
body{
    margin: 0;
    color: #fff;
    font-family: inter;
    background-color: rgb(40, 45, 53);
}
.navigation{
    display: flex;
    flex-direction: row;
    background-color: #21222A;
    align-items: center;
    padding: 2%;
    justify-content: space-between;

}
.logoSection{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #61DAFB;
}
.logoName{
    font-size: 22px;
    font-weight: 700;
}
.logo{
    width: 100px;
}
.nav-items{
    color: #DEEBF8;
    max-width: fit-content;
}
.mainContent{
    padding: 5%;
    height: 80vh;
    background-image: url(./images/logo2.png);
    background-repeat: no-repeat;
    background-position: right;
}
.contentName{
    font-size: 39px;
}
.contentList{
    list-style: none;
}
.contentList li::before{
    content: "\2022";
    color: #61DAFB;
    font-weight: bold;
    font-size: 30px;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}
.contentList li{
    font-size: 16;
    line-height: 19px;
    padding-block: 10px;
    /* padding blocks allows me to edit on the padding of the bottom and top */
    max-width: fit-content;
}